html {
    box-sizing: border-box;
}
  /* inherit border-box on all elements in the universe and before and after
   */
*, 
*:before, 
*:after {
    box-sizing: inherit;
}

.wrapper {
	width: 97%;
	margin: 0 auto;
	float: none;
	/* background-color: #fff; */
}
  
body {
      font-family: Arial, Geneva, sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

.totalJobs{
	color: #63BD60;
	align-self: center;
	align-content: center;
}

.totalJobs1{
	color: #63BD60;
	align-self: center;
	align-content: center;
}

.myDIV {
    height: 250px;
    width: 250px;
    overflow: auto;
	background: #cfcfc4;
	align-self: center;
	text-align: center;
}

.listContent {
	/* background-color: red; for visualization purposes */
	display: inline-block;
  }

h3{
    color: #006847;
}

/* grid system */
.row {
	display: flex;
	flex-flow: row wrap;
	flex: 0 1 auto;
}